.ddt{
    width :100%;
    height:100%;
    background-attachment: fixed;
    background: url('images/background-escuro-1.jpg') black;
}
.logo{
    font-family: 'Satisfy', cursive;
    font-size:30px;
}
.cl{
    display: block;
    background-color: #00000088;
}
.special-card {
    /* create a custom class so you 
       do not run into specificity issues 
       against bootstraps styles
       which tends to work better than using !important 
       (future you will thank you later)*/
    
      background-color: rgba(0,0,0,100);
      opacity: .1;
}
.test{
    position: fixed;
}